#div-logo-bg {
    background-image: url("../images/gip_logo-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.errorlist {
    list-style: none;
    padding: 0;
}

.errorlist>li {
    color: white;
    font-size: .8rem;
    background-color: #dc3545;
    border-radius: 4px;
    padding: .5em;
    margin-bottom: .5em;
}

.navbar-toggler-icon > path {
    fill: white;
}



@media screen and (min-width: 577px) {
    #index-buttons {
        max-width: 360px;
    }
}

@media screen and (max-width: 576px) {
    #index-buttons {
        max-width: 240px;
    }
    #index-buttons>a, #index-buttons>button {
      font-size: .8rem;
    }
  }
