{% extends "e_attendance/layout.html" %}

{% block title %}Attendances{% endblock %}

{% block breadcrumb %}
    {% if group == "instructors" %}
        <nav aria-label="breadcrumb" class="ps-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:classes' %}?school-year={{ class.school_year }}&semester={{ class.semester }}">
                        Classes
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:courses' class.id %}">Courses</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:blocks' class_id=class.id course_id=course_id %}">Blocks</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Attendances</li>
            </ol>
        </nav>
    {% elif group == "students" %}
        <nav aria-label="breadcrumb" class="ps-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:classes' %}?school-year={{ class.school_year }}&semester={{ class.semester }}">
                        Classes
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Attendances
                </li>
            </ol>
        </nav>
    {% else %}
        <nav aria-label="breadcrumb" class="ps-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'e_attendance:index' %}">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:select_sy_and_sem' student.user.id %}">
                        S.Y. and Sem
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'e_attendance:classes' %}">
                        Classes
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Attendances
                </li>
            </ol>
        </nav>
    {% endif %}
{% endblock %}

{% block body %}
    {% if group == "students" or group == "guardians" %}
        <h1 class="mb-4 text-center fw-bold">
            {% if group == "students" %}
                Attendances for {{ class.subject.name }}
            {% else %}
                {{ student.user.first_name }}'s attendances for {{ class.subject.name }}
            {% endif %}
        </h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Time In</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Day</th>
                        <th scope="col">Date</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            <td>{{ attendance.time_in }}</td>
                            <td>{{ attendance.start_time }}</td>
                            <td>{{ attendance.end_time }}</td>
                            <td>{{ attendance.day }}</td>
                            <td>{{ attendance.date }}</th>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                {% if group == "students" %}
                                    You don't have any attendance in this class.
                                {% else %}
                                    {{ student.user.first_name }} doesn't have any attendance in this class.
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% elif group == "instructors" %}
        <div class="d-flex flex-column align-items-center">
            <h1 class="mb-4 text-center fw-bold">
                Attendances for {{ class.subject.name }}, Block {{ block_num }}
            </h1>
            <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#create-attendance-qr-modal">
                Create Attendance QR
            </button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Time In</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Day</th>
                        <th scope="col">Date</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            <td>{{ attendance.student.user.first_name }}</td>
                            <td>{{ attendance.student.user.last_name }}</td>
                            <td>{{ attendance.time_in }}</td>
                            <td>{{ attendance.start_time }}</td>
                            <td>{{ attendance.end_time }}</td>
                            <td>{{ attendance.day }}</td>
                            <td>{{ attendance.date }}</th>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No one attended this class yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    <!-- Modal -->
    <div class="modal fade" id="create-attendance-qr-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create Attendance QR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'e_attendance:create_attendance_qr' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="class_id" value="{{ class.id }}">
                        <input type="hidden" name="course_id" value="{{ course_id }}">
                        <input type="hidden" name="block" value="{{ block_num }}">
                        <label class="d-block">
                            Start Time
                            <input type="time" name="start_time" class="form-control mb-3" autofocus required>
                        </label>
                        <label class="d-block">
                            End Time
                            <input type="time" name="end_time" class="form-control mb-3" required>
                        </label>
                        <input type="submit" value="Ok" class="btn btn-primary">
                    </form>
                </div>
        </div>
        </div>
    </div>
{% endblock %}