{% if group == "students" %}
    <nav aria-label="breadcrumb" class="ps-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'e_attendance:index' %}">Home</a>
            </li>
            {% if page == "classes" or page == "attendances" %}
                {% if page == "classes" %}
                    <li class="breadcrumb-item active" aria-current="page">
                        Classes
                    </li>            
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:classes' %}?school-year={{ class.school_year }}&semester={{ class.semester }}">
                            Classes
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "attendances" %}
                <li class="breadcrumb-item active" aria-current="page">
                    Attendances
                </li>
            {% endif %}
        </ol>
    </nav>
{% elif group == "teachers" %}
    <nav aria-label="breadcrumb" class="ps-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'e_attendance:index' %}">Home</a>
            </li>
            {% if page == "classes" or page == "courses" or page == "blocks" or page == "attendances" or page == "create_attendance_qr" %}
                {% if page == "classes" %}
                    <li class="breadcrumb-item active" aria-current="page">
                        Classes
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:classes' %}?school-year={{ class.school_year }}&semester={{ class.semester }}">
                            Classes
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "courses" or page == "blocks" or page == "attendances" or page == "create_attendance_qr" %}
                {% if page == "courses" %}
                    <li class="breadcrumb-item active" aria-current="page">
                        Courses
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:courses' class.id %}">
                            Courses
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "blocks" or page == "attendances" or page == "create_attendance_qr" %}
                {% if page == "blocks" %}
                    <li class="breadcrumb-item active" aria-current="page">
                        Blocks
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:blocks' class_id=class.id course_id=course.id %}">Blocks</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "attendances" or page == "create_attendance_qr" %}
                {% if page == "attendances" %}
                    <li class="breadcrumb-item active" aria-current="page">Attendances</li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:class_attendances' class_id=class.id course_id=course.id block=block_num %}">
                            Attendances
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "create_attendance_qr" %}
                <li class="breadcrumb-item active" aria-current="page">Attendance QR Code</li>
            {% endif %}
        </ol>
    </nav>
{% elif group == "guardians" %}
    <nav aria-label="breadcrumb" class="ps-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'e_attendance:index' %}">Home</a></li>
            {% if page == "sy_and_sem" or page == "classes" or page == "attendances" %}
                {% if page == "sy_and_sem" %}
                    <li class="breadcrumb-item active" aria-current="page">
                        S.Y. and Sem
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:select_sy_and_sem' student.user.id %}">
                            S.Y. and Sem
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "classes" or page == "attendances" %}
                {% if page == "classes" %}
                    <li class="breadcrumb-item active" aria-current="page">
                        Classes
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'e_attendance:classes' %}?school-year={{ class.school_year }}&semester={{ class.semester }}&student_id={{ student.user.id }}">
                            Classes
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page == "attendances" %}
                <li class="breadcrumb-item active" aria-current="page">
                    Attendances
                </li>
            {% endif %}
        </ol>
    </nav>
{% endif %}