{% extends "e_attendance/layout.html" %}

{% load user_group_tag %}

{% block title %}Attendances{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center">
    <h1 class="mb-1 text-center fw-bold">
        Attendances for {{ class.subject.name }}
    </h1>
    {% if class.course %}
    <h2 class="mb-3">{{ class.course.name }}, year {{ class.year}}, block {{ class.block }}</h2>
    {% else %}
    <h2 class="mb-3">{{ class.strand.name }}, grade {{ class.year}}, block {{ class.block }}</h2>
    {% endif %}
    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#create-attendance-qr-modal">
        Create Attendance QR
    </button>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Time In</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Day</th>
                <th scope="col">Date</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in student_attendances %}
            <tr>
                <td>{{ attendance.student.first_name }}</td>
                <td>{{ attendance.student.last_name }}</td>
                <td>{{ attendance.time_in }}</td>
                <td>{{ attendance.class_schedule.start_time }}</td>
                <td>{{ attendance.class_schedule.end_time }}</td>
                <td>{{ attendance.class_schedule.day }}</td>
                <td>{{ attendance.date }}</th>
                <td>{{ attendance.remarks }}</th>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No one attended this class yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="create-attendance-qr-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Create Attendance QR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'e_attendance:create_attendance_qr' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="course_id" value={{ course.id }}>
                    <input type="hidden" name="block_num" value={{ block_num }}>
                    <label class="d-block">
                        Select class schedule
                        <select name="class_schedule_id" class="form-select text-center w-100 mb-3" required>
                            <option value="" selected>---</option>
                            {% for schedule in class_schedules %}
                            <option value={{ schedule.id }}>
                                {{ schedule.day }}, {{ schedule.start_time }} - {{ schedule.end_time }}
                            </option>
                            {% endfor %}
                        </select>
                    </label>
                    <input type="submit" value="Ok" class="btn btn-primary w-100">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}