{% extends "e_attendance/layout.html" %}

{% load user_group_tag %}

{% block title %}Attendances{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center">
    <h1 class="mb-1 text-center fw-bold">
        Attendances
    </h1>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time In</th>
                <th scope="col">Time Out</th>
                <th scope="col">Date</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in employee_attendances %}
            <tr>
                <td>{{ attendance.time_in }}</td>
                <td>{{ attendance.time_out }}</td>
                <td>{{ attendance.date }}</th>
                <td>{{ attendance.remarks }}</th>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">You have no attendance.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}