{% load static %}

<!-- loading circles -->
<div id="spinner" style="
        height: 85vh; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;">
    <div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="fw-bold">Processing sample images...</div>
</div>

<div id="video-container" style="
    position: relative; 
    width: 90%; 
    max-width: 576px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;">
    <video style="width: 100%; height: auto;"></video>
    <canvas style="
        position: absolute; 
        top: 0; 
        left: 0;">
    </canvas>
    <button id="video-btn" class="btn btn-primary mt-3">Pause video</button>
</div>

<!-- button for opening the modal -->
<button 
    id="open-confirm-recognition-modal-btn" 
    type="button" 
    class="btn btn-primary" 
    data-bs-toggle="modal" 
    data-bs-target="#confirm-recognition-modal"
    style="visibility: hidden;">
</button>

<!-- Modal -->
<div class="modal fade" id="confirm-recognition-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Confirm recognition</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="result" class="d-flex flex-column align-items-center">
                    <p id="result-text" class="text-center"></p>
                    <p>Is this correct?</p>
                    <div>
                        <button class="btn btn-success" id="confirm-recognition-btn">Yes</button>
                        <button class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- display success message here after employee times in/times out -->
<div class="text-center" id="success-message-container" style="display: none;">
    <p id="success-message" class="fs-3 fw-bold"></p>
    <button class="btn btn-primary" id="back-btn">Go back</button>
</div>


<script src="{% static 'e_attendance/js/face-api.js' %}"></script>
<script src="{% static 'e_attendance/js/getCookie.js' %}" type="text/javascript"></script>
<script>
    // Path to the face recognition models.
    const MODEL_URL = "../../../static/e_attendance/face_recognition_models"

    // Load face recognition models.
    Promise.all([
        faceapi.nets.tinyFaceDetector.loadFromUri(MODEL_URL),
        faceapi.nets.faceLandmark68Net.loadFromUri(MODEL_URL),
        faceapi.nets.faceRecognitionNet.loadFromUri(MODEL_URL),
        faceapi.nets.faceExpressionNet.loadFromUri(MODEL_URL)
    ]).then(start)


    const videoContainer = document.querySelector("#video-container")
    const videoElement = document.querySelector("video")
    const canvasElement = document.querySelector("canvas")
    const videoBtn = document.querySelector("#video-btn")
    const confirmRecognitionBtn = document.querySelector("#confirm-recognition-btn")
    
    
    let labeledFaceDescriptors
    let faceMatcher

    async function start() {
        // Hide the video when loading the images.
        videoContainer.style.display = "none"
        // Load and process the sample images for face recognition.
        labeledFaceDescriptors = await loadImages()
        faceMatcher = new faceapi.FaceMatcher(labeledFaceDescriptors, 0.5)
        // Hide the spinner then show the video after loading the images.
        document.querySelector("#spinner").style.display = "none"
        videoContainer.style.display = "flex"
        // Start the device's camera then play the video on the page.
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
            .then((stream) => {
                videoElement.srcObject = stream,
                    videoElement.play()
            })
            .catch((err) => {
                console.error(`An error occurred: ${err}`);
            });
    }


    ///////////////////////////////// HELPER FUNCTIONS /////////////////////////////////////////////

    // Function to load and process the sample images used for face recognition.
    function loadImages() {
        const labels = ["Kel Ancelo,1", "Noel Laurence L. Delos Reyes"]
        return Promise.all(
            labels.map(async label => {
                const img = await faceapi.fetchImage(`../../../static/e_attendance/images/faces/${label}.jpg`)
                const detections = await faceapi.detectSingleFace(img, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptor()
                return new faceapi.LabeledFaceDescriptors(label, [detections.descriptor])
            })
        )
    }


    let displaySize

    function resizeCanvas() {
        // Get the dimensions of the video element.
        displaySize = { width: videoElement.clientWidth, height: videoElement.clientHeight }
        // Resize the canvas to the video's dimensions.
        faceapi.matchDimensions(canvasElement, displaySize)
    }

    /////////////////////////////////////////////////////////////////////////////////////////////////////


    ///////////////////////////////////// EVENT LISTENERS ///////////////////////////////////////////////
    
    let interval

    // This function will run when the video from camera starts showing up.
    // Or the "Play video" button is pressed.
    videoElement.addEventListener("play", async () => {
        videoBtn.innerHTML = "Pause video"
        // This function will run every 0.25 secs.
        interval = setInterval(async () => {
            // Detect the face in the video.
            const detections = await faceapi.detectSingleFace(videoElement, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptor()
            // Resize the detection box in case the displayed video has a different size than the original.
            const resizedDetections = faceapi.resizeResults(detections, displaySize)
            // Match the detected face against the sample images.
            const result = faceMatcher.findBestMatch(resizedDetections.descriptor)
            let userFullName = result._label.split(",")[0]
            let userId = result._label.split(",")[1]
            const box = resizedDetections.detection.box
            const drawBox = new faceapi.draw.DrawBox(box, {
                label: `${userFullName} (${result._distance.toFixed(2)})`
            })
            // Clear the canvas before drawing.
            canvasElement.getContext("2d").clearRect(0, 0, canvasElement.width, canvasElement.height)
            // Draw the box around the face.
            drawBox.draw(canvasElement)

            // If a face is recognized, ask the user if the recognition is correct.
            if (result._label != "unknown") {
                videoElement.pause()
                document.querySelector("#open-confirm-recognition-modal-btn").click()
                document.querySelector("#result-text").innerHTML = `Recognized as <b>${userFullName}</b>`
                confirmRecognitionBtn.dataset.userId = userId
            }
        }, 250)
    })


    // This function will run if the video is paused.
    videoElement.addEventListener("pause", () => {
        clearInterval(interval)
        videoBtn.innerHTML = "Play video"
    })


    videoElement.addEventListener("canplay", resizeCanvas)


    window.addEventListener("resize", resizeCanvas)


    videoBtn.addEventListener("click", () => {
        if (videoElement.paused) {
            videoElement.play()
        }
        else {
            videoElement.pause()
        }
    })


    const successMessageContainer = document.querySelector("#success-message-container")

    // This function will run if the user confirmed that the recognition is correct.
    // It will send a request to the server to add a database record of the employee's attendance.
    confirmRecognitionBtn.addEventListener("click", (e) => {
        fetch("/employee_attendance", {
            method: "POST",
            mode: "same-origin",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            body: JSON.stringify({ user_id: e.target.dataset.userId })
        })
            .then(res => res.json())
            .then(data => {
                document.querySelector(".btn-close").click()
                videoContainer.style.display = "none"
                successMessageContainer.style.display = "block"
                successMessagePara = document.querySelector("#success-message")
                if (data.operation === "time-in") {
                    successMessagePara.innerHTML = `Successfully timed in at ${data.time}`
                }
                else {
                    successMessagePara.innerHTML = `Successfully timed out at ${data.time}`
                }

            })
    })


    // This function will run after pressing the "Go back" button.
    // It will just display the video from camera again. 
    document.querySelector("#back-btn").addEventListener("click", () => {
        successMessageContainer.style.display = "none"
        videoContainer.style.display = "flex"
    })

    ///////////////////////////////////////////////////////////////////////////////////////////////////
</script>