{% extends "e_attendance/layout.html" %}

{% block title %}Scan Attendance QR{% endblock %}

{% block script %}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        function onScanSuccess(decodedText, decodedResult) {
            // handle the scanned code as you like, for example:
            // console.log(`Code matched = ${decodedText}`, decodedResult);
            document.querySelector("#html5-qrcode-button-camera-stop").click();

            fetch(decodedText, {
                method: "POST",
                mode: "same-origin",
                headers: { "X-CSRFToken": getCookie('csrftoken') }
            })
                .then(res => {
                    if (res.ok) {
                        res.json()
                            .then(data => {
                                window.location.href = `/attendances/class/${data.class_id}/student/0`;
                            })
                    }
                    else {
                        window.location.href = "/scan_attendance_qr"
                    }
                });
        }

        function onScanFailure(error) {
            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            // console.warn(`Code scan error = ${error}`);
        }

        let config = {
            fps: 2,
            qrbox: { width: 300, height: 300 },
            supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA]
        }

        let html5QrcodeScanner = new Html5QrcodeScanner("reader", config, /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
        document.querySelector("#html5-qrcode-button-camera-start").classList.add("btn", "btn-primary");
    })
</script>
{% endblock %}

{% block body %}
<div id="reader" style="max-width: 576px; margin-inline: auto;"></div>
{% endblock %}