{% extends "e_attendance/layout.html" %}

{% block title %}Scan Attendance QR{% endblock %}

{% load static %}

{% block script %}
    <script src="{% static 'e_attendance/js/html5-qrcode.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'e_attendance/js/getCookie.js' %}" type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            
            function onScanSuccess(decodedText, decodedResult) {
                document.querySelector("#html5-qrcode-button-camera-stop").click();

                fetch(decodedText, {
                    method: "POST",
                    mode: "same-origin",
                    headers: { "X-CSRFToken": getCookie('csrftoken') }
                }).then(res => {
                    if (res.ok) {
                        res.json().then(data => {
                            window.location.href = `/classes/${data.class_id}/students/0/attendances`;
                        })
                    }
                    else {
                        window.location.href = "/scan_attendance_qr"
                    }
                });
            }

            function onScanFailure(error) {
                //console.warn(`Code scan error = ${error}`);
            }

            let config = {
                qrbox: { width: 300, height: 300 }
            };

            let html5QrcodeScanner = new Html5QrcodeScanner("reader", config, false);
            html5QrcodeScanner.render(onScanSuccess, onScanFailure);
        })
    </script>
{% endblock %}

{% block body %}
    <div id="reader" style="max-width: 576px; margin-inline: auto;"></div>
{% endblock %}