{% extends "e_attendance/layout.html" %}

{% load user_group_tag %}

{% block title %}Attendances{% endblock %}

{% block body %}
<h1 class="mb-4 text-center fw-bold">
    {% if request.user|in_group:"students" %}
    Attendances for {{ class.subject.name }}
    {% else %}
    {{ student.first_name }}'s attendances for {{ class.subject.name }}
    {% endif %}
</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time In</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Day</th>
                <th scope="col">Date</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in student_attendances %}
            <tr>
                <td>{{ attendance.time_in }}</td>
                <td>{{ attendance.class_schedule.start_time }}</td>
                <td>{{ attendance.class_schedule.end_time }}</td>
                <td>{{ attendance.class_schedule.day }}</td>
                <td>{{ attendance.date }}</th>
                <td>{{ attendance.remarks }}</th>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    {% if request.user|in_group:"students" %}
                    You don't have any attendance in this class.
                    {% else %}
                    {{ student.first_name }} doesn't have any attendance in this class.
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}